<footer>
    <section class="boldSection btSiteFooterWidgets gutter">
        <div class="port">
            <div class="boldRow" id="boldSiteFooterWidgetsRow">
                <div class="btBox widget_bt_instagram"><h4><span>Instagram</span></h4>
                    <div class="btInstaWrap">
                        <div id="instafeed-container" class="btInstaGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="boldSection gutter btSiteFooter btGutter">
        <div class="port">
            <div class="boldRow">
                <div class="rowItem btFooterMenu col-md-4 col-sm-12 btTextLeft">
                    <ul id="menu-primary-menu-1" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item current_page_item">
                            <a href="/">Anasayfa</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="/hizmetler">Hizmetler</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                            <a href="/hakkimizda">Hakkımızda</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                            <a href="/galeri">Galeri</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                            <a href="/satin-alma">Satın Alma</a></li>
                    </ul>
                </div>
                <div class="rowItem btFooterTitle col-md-4 col-sm-12 btTextCenter">
                    <div class="btBrideNGroom">
                        <h4>bidolu Organizasyon</h4>
                    </div><!-- /btBrideNGroom -->
                </div><!-- /copy -->
                <div class="rowItem btFooterCopy col-md-4 col-sm-12 btTextRight">
                    <span class="btIco btIcoSmallSize btIcoOutlineType btIcoDefaultColor">
                        <a href="https://www.facebook.com/bidoluorganizasyon"
                           data-ico-fa="&#xf09a;"
                           class="btIcoHolder"
                           target="_blank"></a>
                    </span>
                    <span class="btIco btIcoSmallSize btIcoOutlineType btIcoDefaultColor">
                        <a href="https://twitter.com/bidoluorganizasyon"
                           data-ico-fa="&#xf099;"
                           class="btIcoHolder"
                           target="_blank"></a>
                    </span>
                    <span class="btIco btIcoSmallSize btIcoOutlineType btIcoDefaultColor">
                        <a href="https://www.instagram.com/bidoluorganizasyon/"
                           data-ico-fa="&#xf16d;"
                           class="btIcoHolder"
                           target="_blank"></a>
                    </span>
                    <p class="copyLine">&copy; Bidolu Organizasyon</p></div><!-- /copy -->

            </div><!-- /boldRow -->
        </div><!-- /port -->
    </section>

</footer>