<script>
    jQuery( document ).ready(function() {
        var feed = new Instafeed({
            get: 'user',
            userId: '6109005215',
            target: 'instafeed-container',
            limit: '6',
            resolution: 'standard_resolution',
            template: '<span><a href="{{link}}" target="_blank" style="background-image:url({{image}});"><img src="/wp-content/themes/celebration/gfx/aspect-square.png" /></a></span>',
            clientId: 'cb55d7794cfc40299eebeb34d71850c8',
            accessToken: '34046150.cb55d77.b0004027031e498b8297435055bda4d6'
        });
        feed.run();
    });
</script>
<script type='text/javascript' src='/wp-includes/js/comment-reply.min.js?ver=4.8.2'></script>
<script type='text/javascript' src='/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpcf7 = {"loaderUrl":"http:\/\/celebration.bold-themes.com\/wedding-planners\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Sending ..."};
    /* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_add_to_cart_params = {"ajax_url":"\/wedding-planners\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/wedding-planners\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/celebration.bold-themes.com\/wedding-planners\/shop\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
    /* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.1.0'></script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var woocommerce_params = {"ajax_url":"\/wedding-planners\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/wedding-planners\/?wc-ajax=%%endpoint%%"};
    /* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.1.0'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_cart_fragments_params = {"ajax_url":"\/wedding-planners\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/wedding-planners\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments_d5dc918fb3900789abb9bd7c69ebc3a1"};
    /* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.1.0'></script>
<script type='text/javascript' src='/wp-includes/js/wp-embed.min.js?ver=4.8.2'></script>
<script type='text/javascript' src='/wp-content/plugins/celebration/bt_parallax.js?ver=4.8.2'></script>
<script type='text/javascript' src='/wp-content/plugins/celebration/instafeed.min.js?ver=4.8.2'></script>
<script>
    window.viewportUnitsBuggyfill.init({

        // milliseconds to delay between updates of viewport-units
        // caused by orientationchange, pageshow, resize events
        refreshDebounceWait: 250,

        // provide hacks plugin to make the contentHack property work correctly.
        hacks: window.viewportUnitsBuggyfillHacks

    });
</script>

</body>
</html>