<footer>
    <section class="boldSection btSiteFooterWidgets gutter">
        <div class="port">
            <div class="boldRow" id="boldSiteFooterWidgetsRow">
                <div class="btBox widget_bt_instagram"><h4><span>Instagram</span></h4>
                    <div class="btInstaWrap">
                        <div id="instafeed59d8c0a7a21f2" class="btInstaGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="boldSection gutter btSiteFooter btGutter">
        <div class="port">
            <div class="boldRow">
                <div class="rowItem btFooterMenu col-md-4 col-sm-12 btTextLeft">
                    <ul id="menu-primary-menu-1" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-127 current_page_item menu-item-1013">
                            <a href="#">Home</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1012"><a
                                    href="/our-services/">Our Services</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1007">
                            <a href="/about-us/">Pages</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1027">
                            <a href="/our-portfolio/">Portfolio</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1014">
                            <a href="/blog/">Blog</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1019">
                            <a href="/shop/">Shop</a></li>
                    </ul>
                </div>
                <div class="rowItem btFooterTitle col-md-4 col-sm-12 btTextCenter">
                    <div class="btBrideNGroom">
                        <p>Wedding Planners</p>
                        <h4>James&amp;Cindy</h4>
                    </div><!-- /btBrideNGroom -->
                </div><!-- /copy -->
                <div class="rowItem btFooterCopy col-md-4 col-sm-12 btTextRight">
                    <span class="btIco btIcoSmallSize btIcoOutlineType btIcoDefaultColor">
                        <a href="#"
                           data-ico-fa="&#xf09a;"
                           class="btIcoHolder"></a>
                    </span>
                    <span class="btIco btIcoSmallSize btIcoOutlineType btIcoDefaultColor">
                        <a href="#"
                           data-ico-fa="&#xf099;"
                           class="btIcoHolder"></a>
                    </span>
                    <span class="btIco btIcoSmallSize btIcoOutlineType btIcoDefaultColor">
                        <a href="#"
                           data-ico-fa="&#xf1ca;"
                           class="btIcoHolder"></a>
                    </span>
                    <p class="copyLine">&copy; Bidolu Organizasyon</p></div><!-- /copy -->

            </div><!-- /boldRow -->
        </div><!-- /port -->
    </section>

</footer>