<header class="mainHeader btClear ">
    <div class="port">
        <div class="btLogoArea menuHolder btClear">
            <span class="btVerticalMenuTrigger">&nbsp;<span class="btIco btIcoSmallSize btIcoDefaultColor btIcoDefaultType" ><a href="#"  data-ico-fa="&#xf0c9;" class="btIcoHolder"></a></span></span>
            <span class="btHorizontalMenuTrigger">&nbsp;<span class="btIco btIcoSmallSize btIcoDefaultColor btIcoDefaultType" ><a href="#"  data-ico-fa="&#xf0c9;" class="btIcoHolder"></a></span></span>
            <div class="logo">
                      <span>
                          <a href="#"><img class="btMainLogo" data-hw="1.469387755102" src="/wp-content/uploads/sites/logo_dark.png" alt="Wedding planners"><img class="btAltLogo" src="/wp-content/uploads/sites/logo.png" alt="Wedding planners"></a>					</span>
            </div><!-- /logo -->
            <div class="menuPort">
                <div class="topBarInMenu">
                    <div class="topBarInMenuCell">
                        <span class="btIco btIcoSmallSize btIcoOutlineType btIcoDefaultColor" ><a href="https://www.facebook.com/boldthemes/"  target = "_blank" data-ico-fa="&#xf09a;" class="btIcoHolder"></a></span><span class="btIco btIcoSmallSize btIcoOutlineType btIcoDefaultColor" ><a href="https://twitter.com/bold_themes" target = "_blank" data-ico-fa="&#xf099;" class="btIcoHolder"></a></span><span class="btIco btIcoSmallSize btIcoOutlineType btIcoDefaultColor" ><a href="https://www.pinterest.com/boldthemes/"  target = "_blank" data-ico-fa="&#xf231;" class="btIcoHolder"></a></span>					</div><!-- /topBarInMenu -->
                </div><!-- /topBarInMenuCell -->
                <nav>
                    <ul id="menu-primary-menu" class="menu">
                        <li id="menu-item-1013" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-127 current_page_item menu-item-1013">
                            <a href="#">Home</a>
                        </li>
                        <li id="menu-item-1012" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1012">
                            <a href="/our-services/">Our Services</a>
                        </li>
                        <li id="menu-item-1007" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1007">
                            <a href="/about-us/">Pages</a>
                            <ul  class="sub-menu">
                                <li id="menu-item-1011" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1011">
                                    <a href="/about-us/">About us</a>
                                </li>
                                <li id="menu-item-1024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1024">
                                    <a href="/about-us/prices/">Prices</a>
                                </li>
                                <li id="menu-item-1023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1023">
                                    <a href="/about-us/cost-calculator/">Cost Calculator</a>
                                </li>
                                <li id="menu-item-1010" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1010">
                                    <a href="/about-us/book-appointment/">Book appointment</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-1027" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1027">
                            <a href="/our-portfolio/">Portfolio</a>
                            <ul  class="sub-menu">
                                <li id="menu-item-1025" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1025">
                                    <a href="/our-portfolio/">Grid</a>
                                </li>
                                <li id="menu-item-1026" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1026">
                                    <a href="/our-portfolio/portfolio-tiles/">Tiles</a>
                                </li>
                                <li id="menu-item-1018" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1018">
                                    <a href="/our-portfolio/gallery/">List &#038; lightbox</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-1014" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1014">
                            <a href="/blog/">Blog</a>
                            <ul  class="sub-menu">
                                <li id="menu-item-1017" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1017">
                                    <a href="/blog/">Classic</a>
                                </li>
                                <li id="menu-item-1008" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1008">
                                    <a href="/wedding-planners/blog/?blog_list_view=columns&#038;blog_side_info=false">Columns</a>
                                </li>
                                <li id="menu-item-1009" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1009">
                                    <a href="/wedding-planners/blog/?blog_list_view=simple&#038;blog_side_info=false">Simple</a>
                                </li>
                                <li id="menu-item-1015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1015">
                                    <a href="/blog/blog-grid/">Grid</a>
                                </li>
                                <li id="menu-item-1016" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1016">
                                    <a href="/blog/blog-tiles/">Tiles</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-1019" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1019">
                            <a href="/shop/">Shop</a>
                            <ul  class="sub-menu">
                                <li id="menu-item-1028" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1028">
                                    <a href="/shop/">Products</a>
                                </li>
                                <li id="menu-item-1022" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1022">
                                    <a href="/shop/cart/">Cart</a>
                                </li>
                                <li id="menu-item-1020" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1020">
                                    <a href="/shop/my-account/">My Account</a>
                                </li>
                                <li id="menu-item-1021" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1021">
                                    <a href="/shop/checkout/">Checkout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div><!-- .menuPort -->
        </div><!-- /menuHolder / btBelowLogoArea -->
    </div><!-- /port -->
</header><!-- /.mainHeader -->