<%- include('partials/_head') -%>

<body class="home page-template-default page page-id-127 bodyPreloader btMenuCenterEnabled btStickyEnabled btLightSkin btBelowMenu btTopToolsInMenuArea btNoSidebar" data-autoplay="0" >

  <div id="btPreloader" class="btPreloader fullScreenHeight">
    <div class="animation">
      <div><img class="preloaderLogo" src="/wp-content/uploads/sites/logo_dark.png" alt="Wedding planners" data-alt-logo="/wp-content/uploads/sites/logo.png"></div>
      <div class="btLoader"></div>
      <p></p>
    </div>
  </div><!-- /.preloader -->

  <div class="btPageWrap" id="top">

    <%- include('partials/_header') -%>

    <div class="btContentWrap btClear">
      <div class="btContentHolder">

        <div class="btContent">
          <section id="bt_section59d8d60fdbff5" data-parallax="0.2" data-parallax-offset="0"
                   class="boldSection topExtraSpaced bottomSpaced btDarkSkin gutter inherit btParallax wBackground cover"
                   style="background-image:url('/wp-content/uploads/sites/wedding-bck.jpg');"
                   data-animation-icon="no_icon">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-12 col-ms-12  btTextCenter animate animate-fadein inherit"
                           data-width="12">
                        <div class="rowItemContent">
                          <header class="header btClear huge">
                            <div class="btSuperTitle">James&amp;Cindy</div>
                            <div class="dash"><h1><span class="headline">About Us</span></h1></div>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="bt_section59d8d60fdc60d" class="boldSection topSpaced bottomSpaced gutter inherit">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-3 col-sm-6 col-ms-12 btTextLeft" data-width="3">
                        <div class="rowItemContent"></div>
                      </div>
                      <div class="rowItem col-md-6 col-sm-12 btTextCenter animate animate-fadein inherit"
                           data-width="6">
                        <div class="rowItemContent">
                          <div class="bpgPhoto btTextCenter">
                            <div class="btImage"><img src="/wp-content/uploads/sites/vinjeta_dark.png"
                                                      alt="/wp-content/uploads/sites/vinjeta_dark.png"></div>
                          </div>
                          <header class="header btClear extralarge btDash bottomDash">
                            <div class="dash"><h2><span class="headline">When &amp; Where</span></h2></div>
                            <div class="btSubTitle"> Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur.
                            </div>
                          </header>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-3 col-sm-6 col-ms-12 btTextLeft" data-width="3">
                        <div class="rowItemContent"></div>
                      </div>
                    </div>
                  </div>
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-4 col-ms-12 btTextLeft animate animate-fadein inherit" data-width="4">
                        <div class="rowItemContent">
                          <div class="bpgPhoto btTextCenter">
                            <div class="btImage"><img src="/wp-content/uploads/sites/photo_2.jpg"
                                                      alt="/wp-content/uploads/sites/photo_2.jpg"></div>
                          </div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                          <div class="btText"><h3>James&amp;Cindy</h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                              nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                            <p><strong>Monday &#8211; Sunday, 08:00 AM &#8211; 17:00 PM</strong><br/>
                              <strong>St James church</strong><br/>
                              <strong> Brooklyn, NY</strong></p>
                          </div>
                          <div class="btClear btSeparator bottomSemiSpaced noBorder">
                            <hr>
                          </div>
                          <div class="btIconImageRow"><span
                                    class="btIco btIcoOutlineType btIcoMediumSize btIcoDefaultColor"><a href="#"
                                                                                                        target="no_target"
                                                                                                        data-ico-fa="&#xf09a;"
                                                                                                        class="btIcoHolder"></a></span><span
                                    class="btIco btIcoOutlineType btIcoMediumSize btIcoDefaultColor"><a href="#"
                                                                                                        target="no_target"
                                                                                                        data-ico-fa="&#xf099;"
                                                                                                        class="btIcoHolder"></a></span><span
                                    class="btIco btIcoOutlineType btIcoMediumSize btIcoDefaultColor"><a href="#"
                                                                                                        target="no_target"
                                                                                                        data-ico-fa="&#xf1ca;"
                                                                                                        class="btIcoHolder"></a></span><span
                                    class="btIco btIcoOutlineType btIcoMediumSize btIcoDefaultColor"><a href="#"
                                                                                                        target="no_target"
                                                                                                        data-ico-fa="&#xf0e1;"
                                                                                                        class="btIcoHolder"></a></span>
                          </div>
                          <div class="btClear btSeparator bottomSemiSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-8 col-ms-12 btTextLeft animate animate-fadein inherit" data-width="8">
                        <div class="rowItemContent">
                          <div class="btGoogleMapsWrapper">
                            <div id="map_canvas59d8d60fddd1f" style="height:600px;;" class="btGmap"></div>
                          </div>
                          <script type="text/javascript">
                              jQuery(document).ready(function () {
                                  bt_gmap_init(map_canvas59d8d60fddd1f, 40.7144678, -74.015827, 13, "/wp-content/uploads/sites/pin_gold_dot.png", "#aa8b42", "#845505", "#f4f4f4", "W3siZmVhdHVyZVR5cGUiOiJ3YXRlciIsImVsZW1lbnRUeXBlIjoiZ2VvbWV0cnkiLCJzdHlsZXJzIjpbeyJjb2xvciI6IiNlOWU5ZTkifSx7ImxpZ2h0bmVzcyI6MTd9XX0seyJmZWF0dXJlVHlwZSI6ImxhbmRzY2FwZSIsImVsZW1lbnRUeXBlIjoiZ2VvbWV0cnkiLCJzdHlsZXJzIjpbeyJjb2xvciI6IiNmNWY1ZjUifSx7ImxpZ2h0bmVzcyI6MjB9XX0seyJmZWF0dXJlVHlwZSI6InJvYWQuaGlnaHdheSIsImVsZW1lbnRUeXBlIjoiZ2VvbWV0cnkuZmlsbCIsInN0eWxlcnMiOlt7ImNvbG9yIjoiI2ZmZmZmZiJ9LHsibGlnaHRuZXNzIjoxN31dfSx7ImZlYXR1cmVUeXBlIjoicm9hZC5oaWdod2F5IiwiZWxlbWVudFR5cGUiOiJnZW9tZXRyeS5zdHJva2UiLCJzdHlsZXJzIjpbeyJjb2xvciI6IiNmZmZmZmYifSx7ImxpZ2h0bmVzcyI6Mjl9LHsid2VpZ2h0IjowLjJ9XX0seyJmZWF0dXJlVHlwZSI6InJvYWQuYXJ0ZXJpYWwiLCJlbGVtZW50VHlwZSI6Imdlb21ldHJ5Iiwic3R5bGVycyI6W3siY29sb3IiOiIjZmZmZmZmIn0seyJsaWdodG5lc3MiOjE4fV19LHsiZmVhdHVyZVR5cGUiOiJyb2FkLmxvY2FsIiwiZWxlbWVudFR5cGUiOiJnZW9tZXRyeSIsInN0eWxlcnMiOlt7ImNvbG9yIjoiI2ZmZmZmZiJ9LHsibGlnaHRuZXNzIjoxNn1dfSx7ImZlYXR1cmVUeXBlIjoicG9pIiwiZWxlbWVudFR5cGUiOiJnZW9tZXRyeSIsInN0eWxlcnMiOlt7ImNvbG9yIjoiI2Y1ZjVmNSJ9LHsibGlnaHRuZXNzIjoyMX1dfSx7ImZlYXR1cmVUeXBlIjoicG9pLnBhcmsiLCJlbGVtZW50VHlwZSI6Imdlb21ldHJ5Iiwic3R5bGVycyI6W3siY29sb3IiOiIjZGVkZWRlIn0seyJsaWdodG5lc3MiOjIxfV19LHsiZWxlbWVudFR5cGUiOiJsYWJlbHMudGV4dC5zdHJva2UiLCJzdHlsZXJzIjpbeyJ2aXNpYmlsaXR5Ijoib24ifSx7ImNvbG9yIjoiI2ZmZmZmZiJ9LHsibGlnaHRuZXNzIjoxNn1dfSx7ImVsZW1lbnRUeXBlIjoibGFiZWxzLnRleHQuZmlsbCIsInN0eWxlcnMiOlt7InNhdHVyYXRpb24iOjM2fSx7ImNvbG9yIjoiIzMzMzMzMyJ9LHsibGlnaHRuZXNzIjo0MH1dfSx7ImVsZW1lbnRUeXBlIjoibGFiZWxzLmljb24iLCJzdHlsZXJzIjpbeyJ2aXNpYmlsaXR5Ijoib2ZmIn1dfSx7ImZlYXR1cmVUeXBlIjoidHJhbnNpdCIsImVsZW1lbnRUeXBlIjoiZ2VvbWV0cnkiLCJzdHlsZXJzIjpbeyJjb2xvciI6IiNmMmYyZjIifSx7ImxpZ2h0bmVzcyI6MTl9XX0seyJmZWF0dXJlVHlwZSI6ImFkbWluaXN0cmF0aXZlIiwiZWxlbWVudFR5cGUiOiJnZW9tZXRyeS5maWxsIiwic3R5bGVycyI6W3siY29sb3IiOiIjZmVmZWZlIn0seyJsaWdodG5lc3MiOjIwfV19LHsiZmVhdHVyZVR5cGUiOiJhZG1pbmlzdHJhdGl2ZSIsImVsZW1lbnRUeXBlIjoiZ2VvbWV0cnkuc3Ryb2tlIiwic3R5bGVycyI6W3siY29sb3IiOiIjZmVmZWZlIn0seyJsaWdodG5lc3MiOjE3fSx7IndlaWdodCI6MS4yfV19XQ==");
                              });
                          </script>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="bt_section59d8d60fde275" class="boldSection topSpaced bottomSpaced gutter inherit"
                   data-animation-icon="no_icon">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-3 col-sm-6 col-ms-12 btTextLeft" data-width="3">
                        <div class="rowItemContent"></div>
                      </div>
                      <div class="rowItem col-md-6 col-sm-12 btTextCenter animate animate-fadein inherit"
                           data-width="6">
                        <div class="rowItemContent">
                          <div class="bpgPhoto btTextCenter">
                            <div class="btImage"><img src="/wp-content/uploads/sites/vinjeta_dark.png"
                                                      alt="/wp-content/uploads/sites/vinjeta_dark.png"></div>
                          </div>
                          <header class="header btClear extralarge btDash bottomDash">
                            <div class="dash"><h2><span class="headline">Takım Üyeleri</span></h2></div>
                            <div class="btSubTitle">Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                            </div>
                          </header>
                          <div class="btClear btSeparator bottomSemiSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-3 col-sm-6 col-ms-12 btTextLeft" data-width="3">
                        <div class="rowItemContent"></div>
                      </div>
                    </div>
                  </div>
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-4 col-sm-6 col-ms-12 btTextCenter animate animate-fadein inherit"
                           data-width="4">
                        <div class="rowItemContent">
                          <div class="bpgPhoto btTextCenter btCircleImage">
                            <div class="btImage"><img src="/wp-content/uploads/sites/bridesmaid_2-160x160.jpg"
                                                      alt="/wp-content/uploads/sites/bridesmaid_2-160x160.jpg"></div>
                          </div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                          <header class="header btClear large">
                            <div class="dash"><h2><span class="headline">Yasemin</span></h2></div>
                            <div class="btSubTitle">&#8220;Duis aute irure dolor in reprehenderit in voluptate&#8220;
                            </div>
                          </header>
                          <div class="btIconImageRow"><span
                                    class="btIco btIcoDefaultType btIcoExtraSmallSize btIcoDefaultColor"><a href="#"
                                                                                                            target="no_target"
                                                                                                            data-ico-fa="&#xf09a;"
                                                                                                            class="btIcoHolder"></a></span><span
                                    class="btIco btIcoDefaultType btIcoExtraSmallSize btIcoDefaultColor"><a href="#"
                                                                                                            target="no_target"
                                                                                                            data-ico-fa="&#xf099;"
                                                                                                            class="btIcoHolder"></a></span><span
                                    class="btIco btIcoDefaultType btIcoExtraSmallSize btIcoDefaultColor"><a href="#"
                                                                                                            target="no_target"
                                                                                                            data-ico-fa="&#xf1ca;"
                                                                                                            class="btIcoHolder"></a></span><span
                                    class="btIco btIcoDefaultType btIcoExtraSmallSize btIcoDefaultColor"><a href="#"
                                                                                                            target="no_target"
                                                                                                            data-ico-fa="&#xf0e1;"
                                                                                                            class="btIcoHolder"></a></span>
                          </div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-4 col-sm-6 col-ms-12 btTextCenter animate animate-fadein inherit"
                           data-width="4">
                        <div class="rowItemContent">
                          <div class="bpgPhoto btTextCenter btCircleImage">
                            <div class="btImage"><img src="/wp-content/uploads/sites/bridesmaid_3-160x160.jpg"
                                                      alt="/wp-content/uploads/sites/bridesmaid_3-160x160.jpg"></div>
                          </div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                          <header class="header btClear large">
                            <div class="dash"><h2><span class="headline">Nilay</span></h2></div>
                            <div class="btSubTitle">&#8220;Velit esse cillum dolore eu fugiat nulla pariatur&#8220;
                            </div>
                          </header>
                          <div class="btIconImageRow"><span
                                    class="btIco btIcoDefaultType btIcoExtraSmallSize btIcoDefaultColor"><a href="#"
                                                                                                            target="no_target"
                                                                                                            data-ico-fa="&#xf09a;"
                                                                                                            class="btIcoHolder"></a></span><span
                                    class="btIco btIcoDefaultType btIcoExtraSmallSize btIcoDefaultColor"><a href="#"
                                                                                                            target="no_target"
                                                                                                            data-ico-fa="&#xf099;"
                                                                                                            class="btIcoHolder"></a></span><span
                                    class="btIco btIcoDefaultType btIcoExtraSmallSize btIcoDefaultColor"><a href="#"
                                                                                                            target="no_target"
                                                                                                            data-ico-fa="&#xf0e1;"
                                                                                                            class="btIcoHolder"></a></span>
                          </div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-4 col-sm-6 col-ms-12 btTextCenter animate animate-fadein inherit"
                           data-width="4">
                        <div class="rowItemContent">
                          <div class="bpgPhoto btTextCenter btCircleImage">
                            <div class="btImage"><img src="/wp-content/uploads/sites/bridesmaid_1-160x160.jpg"
                                                      alt="/wp-content/uploads/sites/bridesmaid_1-160x160.jpg"></div>
                          </div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                          <header class="header btClear large">
                            <div class="dash"><h2><span class="headline">Elif</span></h2></div>
                            <div class="btSubTitle">&#8220;Excepteur sint occaecat cupidatat non proident&#8220;</div>
                          </header>
                          <div class="btIconImageRow"><span
                                    class="btIco btIcoDefaultType btIcoExtraSmallSize btIcoDefaultColor"><a href="#"
                                                                                                            target="no_target"
                                                                                                            data-ico-fa="&#xf09a;"
                                                                                                            class="btIcoHolder"></a></span><span
                                    class="btIco btIcoDefaultType btIcoExtraSmallSize btIcoDefaultColor"><a href="#"
                                                                                                            target="no_target"
                                                                                                            data-ico-fa="&#xf1ca;"
                                                                                                            class="btIcoHolder"></a></span><span
                                    class="btIco btIcoDefaultType btIcoExtraSmallSize btIcoDefaultColor"><a href="#"
                                                                                                            target="no_target"
                                                                                                            data-ico-fa="&#xf0e1;"
                                                                                                            class="btIcoHolder"></a></span>
                          </div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div><!-- /boldthemes_content -->

      </div><!-- /contentHolder -->
    </div><!-- /contentWrap -->

    <%- include('partials/_footer') -%>

  </div><!-- /pageWrap -->

<%- include('partials/_foot') -%>