<%- include('partials/_head') -%>

<body class="home page-template-default page page-id-127 bodyPreloader btMenuCenterEnabled btStickyEnabled btLightSkin btBelowMenu btTopToolsInMenuArea btNoSidebar" data-autoplay="0" >

  <div id="btPreloader" class="btPreloader fullScreenHeight">
    <div class="animation">
      <div><img class="preloaderLogo" src="/wp-content/uploads/sites/logo_dark.png" alt="Wedding planners" data-alt-logo="/wp-content/uploads/sites/logo.png"></div>
      <div class="btLoader"></div>
      <p></p>
    </div>
  </div><!-- /.preloader -->

  <div class="btPageWrap" id="top">

    <%- include('partials/_header') -%>

    <div class="btContentWrap btClear">
      <div class="btContentHolder">

        <div class="btContent">
          <section id="bt_section59fdc6ec3984b" data-parallax="0.2" data-parallax-offset="0"
                   class="boldSection topExtraSpaced bottomSpaced btDarkSkin gutter inherit btParallax wBackground cover"
                   style="background-image:url('http://celebration.bold-themes.com/wedding-planners/wp-content/uploads/sites/5/2015/09/phototer.jpg');"
                   data-animation-icon="no_icon">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-12 col-ms-12  btTextCenter btMiddleVertical" data-width="12">
                        <div class="rowItemContent">
                          <header class="header btClear huge">
                            <div class="btSuperTitle">James&amp;Cindy</div>
                            <div class="dash"><h1><span class="headline">Book Appointment</span></h1></div>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="bt_section59fdc6ec39e8a" class="boldSection topSpaced gutter inherit"
                   style="max-width: 800px; margin: auto;">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-12 col-ms-12  btTextCenter inherit" data-width="12">
                        <div class="rowItemContent">
                          <div class="btIconImageRow"><span
                                    class="btIco btIcoDefaultType btIcoBigSize btIcoAccentColor"><span
                                      data-ico-cs="&#xe901;" class="btIcoHolder"></span></span></div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                          <header class="header btClear extralarge btDash bottomDash">
                            <div class="dash"><h2><span class="headline">Contact us</span></h2></div>
                            <div class="btSubTitle">Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur.
                            </div>
                          </header>
                          <div class="btClear btSeparator bottomSemiSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="bt_section59fdc6ec3a92b" data-parallax="0.1" data-parallax-offset="0"
                   class="boldSection topSpaced bottomSpaced inherit btParallax wBackground cover"
                   style="background-image:url('http://celebration.bold-themes.com/wedding-planners/wp-content/uploads/sites/5/2015/09/form-back.jpg');">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-4 col-ms-12 btTextLeft" data-width="4">
                        <div class="rowItemContent"></div>
                      </div>
                      <div class="rowItem col-md-4 col-ms-12 btTextLeft btTextIndent inherit"
                           style="padding-top: 30px; padding-bottom: 30px;" data-width="4">
                        <div class="rowItemContent" style="background-color:#ffffff;">
                          <div class="btClear btSeparator bottomSemiSpaced noBorder">
                            <hr>
                          </div>
                          <div class="btText">
                            <div role="form" class="wpcf7" id="wpcf7-f469-p44-o1" lang="en-US" dir="ltr">
                              <div class="screen-reader-response"></div>
                              <form action="/wedding-planners/about-us/book-appointment/#wpcf7-f469-p44-o1"
                                    method="post" class="wpcf7-form" novalidate="novalidate">
                                <div style="display: none;">
                                  <input type="hidden" name="_wpcf7" value="469"/><br/>
                                  <input type="hidden" name="_wpcf7_version" value="4.4"/><br/>
                                  <input type="hidden" name="_wpcf7_locale" value="en_US"/><br/>
                                  <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f469-p44-o1"/><br/>
                                  <input type="hidden" name="_wpnonce" value="f25268789b"/>
                                </div>
                                <p><span>Your Name</span><span class="wpcf7-form-control-wrap your-name"><input
                                            type="text" name="your-name" value="" size="40"
                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false"/></span></p>
                                <p><span>Your Email </span><span class="wpcf7-form-control-wrap your-email"><input
                                            type="email" name="your-email" value="" size="40"
                                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                            aria-required="true" aria-invalid="false"/></span></p>
                                <p><span>Subject</span><span class="wpcf7-form-control-wrap your-subject"><input
                                            type="text" name="your-subject" value="" size="40"
                                            class="wpcf7-form-control wpcf7-text" aria-invalid="false"/></span></p>
                                <p><span>Appointment Date</span><span class="wpcf7-form-control-wrap date-338"><input
                                            type="date" name="date-338" value=""
                                            class="wpcf7-form-control wpcf7-date wpcf7-validates-as-required wpcf7-validates-as-date"
                                            aria-required="true" aria-invalid="false"/></span></p>
                                <p><span>Notes</span><span class="wpcf7-form-control-wrap your-message"><textarea
                                            name="your-message" cols="40" rows="10"
                                            class="wpcf7-form-control wpcf7-textarea"
                                            aria-invalid="false"></textarea></span></p>
                                <p class="submitForm"><input type="submit" value="Send"
                                                             class="wpcf7-form-control wpcf7-submit"/></p>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                              </form>
                            </div>
                          </div>
                          <div class="btClear btSeparator bottomSemiSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-4 col-ms-12 btTextLeft" data-width="4">
                        <div class="rowItemContent"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="bt_section59fdc6ec3c305" class="boldSection topSpaced bottomSpaced gutter inherit"
                   data-animation-icon="no_icon">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-3 col-sm-6 col-ms-12 btTextLeft" data-width="3">
                        <div class="rowItemContent"></div>
                      </div>
                      <div class="rowItem col-md-6 col-sm-12 btTextCenter animate animate-fadein inherit"
                           data-width="6">
                        <div class="rowItemContent">
                          <div class="bpgPhoto btTextCenter">
                            <div class="btImage"><img
                                      src="http://celebration.bold-themes.com/wedding-planners/wp-content/uploads/sites/5/2015/09/vinjeta_dark.png"
                                      alt="http://celebration.bold-themes.com/wedding-planners/wp-content/uploads/sites/5/2015/09/vinjeta_dark.png">
                            </div>
                          </div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                          <header class="header btClear extralarge btDash bottomDash">
                            <div class="dash"><h2><span class="headline">Gift list</span></h2></div>
                            <div class="btSubTitle">Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                            </div>
                          </header>
                        </div>
                      </div>
                      <div class="rowItem col-md-3 col-sm-6 col-ms-12 btTextLeft" data-width="3">
                        <div class="rowItemContent"></div>
                      </div>
                    </div>
                  </div>
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-12 col-ms-12  btTextCenter inherit" data-width="12">
                        <div class="rowItemContent">
                          <div class="boldRow ">
                            <div class="boldRowInner">
                              <div class="rowItem rowInnerItem col-ms-3  btTextLeft inherit"
                                   style="background-color: rgba(242, 242, 242, 1);">
                                <div class="rowItemContent">
                                  <div class="btClear btSeparator topSmallSpaced noBorder">
                                    <hr>
                                  </div>
                                  <div class="btIconImageRow">
                                    <div class="bpgPhoto btTextCenter">
                                      <a href="http://www.google.com" target="_blank"></a>
                                      <div class="boldPhotoBox">
                                        <div class="bpbItem">
                                          <div class="btImage"><img
                                                    src="http://celebration.bold-themes.com/wedding-planners/wp-content/uploads/sites/5/2015/09/shop-amazon.png"
                                                    alt="http://celebration.bold-themes.com/wedding-planners/wp-content/uploads/sites/5/2015/09/shop-amazon.png">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="captionPane">
                                        <div class="captionTable">
                                          <div class="captionCell">
                                            <div class="captionTxt"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="btClear btSeparator topSmallSpaced noBorder">
                                    <hr>
                                  </div>
                                </div>
                              </div>
                              <div class="rowItem rowInnerItem col-ms-3  btTextLeft inherit"
                                   style="background-color: rgba(242, 242, 242, 1);">
                                <div class="rowItemContent">
                                  <div class="btClear btSeparator topSmallSpaced noBorder">
                                    <hr>
                                  </div>
                                  <div class="btIconImageRow">
                                    <div class="bpgPhoto btTextCenter">
                                      <a href="http://www.google.com" target="_blank"></a>
                                      <div class="boldPhotoBox">
                                        <div class="bpbItem">
                                          <div class="btImage"><img
                                                    src="http://celebration.bold-themes.com/wedding-planners/wp-content/uploads/sites/5/2015/09/shop-c-n-b.png"
                                                    alt="http://celebration.bold-themes.com/wedding-planners/wp-content/uploads/sites/5/2015/09/shop-c-n-b.png">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="captionPane">
                                        <div class="captionTable">
                                          <div class="captionCell">
                                            <div class="captionTxt"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="btClear btSeparator topSmallSpaced noBorder">
                                    <hr>
                                  </div>
                                </div>
                              </div>
                              <div class="rowItem rowInnerItem col-ms-3  btTextLeft inherit"
                                   style="background-color: rgba(242, 242, 242, 1);">
                                <div class="rowItemContent">
                                  <div class="btClear btSeparator topSmallSpaced noBorder">
                                    <hr>
                                  </div>
                                  <div class="btIconImageRow">
                                    <div class="bpgPhoto btTextCenter">
                                      <a href="http://www.google.com" target="_blank"></a>
                                      <div class="boldPhotoBox">
                                        <div class="bpbItem">
                                          <div class="btImage"><img
                                                    src="http://celebration.bold-themes.com/wedding-planners/wp-content/uploads/sites/5/2015/09/shop-target.png"
                                                    alt="http://celebration.bold-themes.com/wedding-planners/wp-content/uploads/sites/5/2015/09/shop-target.png">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="captionPane">
                                        <div class="captionTable">
                                          <div class="captionCell">
                                            <div class="captionTxt"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="btClear btSeparator topSmallSpaced noBorder">
                                    <hr>
                                  </div>
                                </div>
                              </div>
                              <div class="rowItem rowInnerItem col-ms-3  btTextLeft inherit"
                                   style="background-color: rgba(242, 242, 242, 1);">
                                <div class="rowItemContent">
                                  <div class="btClear btSeparator topSmallSpaced noBorder">
                                    <hr>
                                  </div>
                                  <div class="btIconImageRow">
                                    <div class="bpgPhoto btTextCenter">
                                      <a href="http://www.google.com" target="_blank"></a>
                                      <div class="boldPhotoBox">
                                        <div class="bpbItem">
                                          <div class="btImage"><img
                                                    src="http://celebration.bold-themes.com/wedding-planners/wp-content/uploads/sites/5/2015/09/shop-macys.png"
                                                    alt="http://celebration.bold-themes.com/wedding-planners/wp-content/uploads/sites/5/2015/09/shop-macys.png">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="captionPane">
                                        <div class="captionTable">
                                          <div class="captionCell">
                                            <div class="captionTxt"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="btClear btSeparator topSmallSpaced noBorder">
                                    <hr>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div><!-- /boldthemes_content -->

      </div><!-- /contentHolder -->
    </div><!-- /contentWrap -->

    <%- include('partials/_footer') -%>

  </div><!-- /pageWrap -->

<%- include('partials/_foot') -%>