<%- include('partials/_head') -%>

<body class="home page-template-default page page-id-127 bodyPreloader btMenuCenterEnabled btStickyEnabled btLightSkin btBelowMenu btTopToolsInMenuArea btNoSidebar" data-autoplay="0" >

  <div id="btPreloader" class="btPreloader fullScreenHeight">
    <div class="animation">
      <div><img class="preloaderLogo" src="/wp-content/uploads/sites/logo_dark.png" alt="Wedding planners" data-alt-logo="/wp-content/uploads/sites/logo.png"></div>
      <div class="btLoader"></div>
      <p></p>
    </div>
  </div><!-- /.preloader -->

  <div class="btPageWrap" id="top">

    <%- include('partials/_header') -%>

    <div class="btContentWrap btClear">
      <div class="btContentHolder">

        <div class="btContent">
          <section id="bt_section59fdc634cbebd" data-parallax="0.2" data-parallax-offset="0"
                   class="boldSection topExtraSpaced bottomSpaced btDarkSkin gutter inherit btParallax wBackground cover"
                   style="background-image:url('http://celebration.bold-themes.com/wedding-planners/wp-content/uploads/sites/5/2015/09/story-bck.jpg');"
                   data-animation-icon="no_icon">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-12 col-ms-12  btTextCenter animate animate-fadein btMiddleVertical"
                           data-width="12">
                        <div class="rowItemContent">
                          <header class="header btClear huge">
                            <div class="btSuperTitle">James&amp;Cindy</div>
                            <div class="dash"><h1><span class="headline">Our Packages</span></h1></div>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="bt_section59fdc634cc443" class="boldSection topSpaced bottomSpaced gutter inherit"
                   data-animation-icon="no_icon">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-4 col-ms-12 btTextCenter inherit" data-width="4">
                        <div class="rowItemContent">
                          <div class="btPriceTable ">
                            <div class="btPriceTableHeader btDarkSkin">
                              <header class="header btClear extralarge btDash bottomDash">
                                <div class="btSuperTitle">Everything &amp; More</div>
                                <div class="dash"><h2><span class="headline"><span class="btPriceTableCurrency">$</span>1,200</span>
                                  </h2></div>
                                <div class="btSubTitle">The Full Wedding Planning Package</div>
                              </header>
                            </div><!-- /ptHeader -->
                            <ul>
                              <li>Complete planning</li>
                              <li>Event coordinating</li>
                              <li>Decoration</li>
                              <li>&#8211;</li>
                              <li>&#8211;</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-4 col-ms-12 btTextCenter inherit" data-width="4">
                        <div class="rowItemContent">
                          <div class="btPriceTable ">
                            <div class="btPriceTableHeader btDarkSkin">
                              <div class="btPriceTableSticker">
                                <div>
                                  <div>Popular</div>
                                </div>
                              </div>
                              <header class="header btClear extralarge btDash bottomDash">
                                <div class="btSuperTitle">Find Your Dream Venue</div>
                                <div class="dash"><h2><span class="headline"><span class="btPriceTableCurrency">$</span>2,900</span>
                                  </h2></div>
                                <div class="btSubTitle">The Wedding Planning and Venue Finding Package</div>
                              </header>
                            </div><!-- /ptHeader -->
                            <ul>
                              <li>Complete planning</li>
                              <li>Event coordinating</li>
                              <li>Decoration</li>
                              <li>Venue finding and booking</li>
                              <li>&#8211;</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-4 col-ms-12 btTextCenter inherit" data-width="4">
                        <div class="rowItemContent">
                          <div class="btPriceTable ">
                            <div class="btPriceTableHeader btDarkSkin">
                              <header class="header btClear extralarge btDash bottomDash">
                                <div class="btSuperTitle">Now Sit Back &amp; Relax</div>
                                <div class="dash"><h2><span class="headline"><span class="btPriceTableCurrency">$</span>4,200</span>
                                  </h2></div>
                                <div class="btSubTitle">The Run Up &amp; On The Day Coordination Package</div>
                              </header>
                            </div><!-- /ptHeader -->
                            <ul>
                              <li>Complete planning</li>
                              <li>Event coordinating</li>
                              <li>Decoration</li>
                              <li>Venue finding and booking</li>
                              <li>Personal assistant</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div><!-- /boldthemes_content -->

      </div><!-- /contentHolder -->
    </div><!-- /contentWrap -->

    <%- include('partials/_footer') -%>

  </div><!-- /pageWrap -->

<%- include('partials/_foot') -%>