<%- include('partials/_head') -%>

<body class="home page-template-default page page-id-127 bodyPreloader btMenuCenterEnabled btStickyEnabled btLightSkin btBelowMenu btTopToolsInMenuArea btNoSidebar" data-autoplay="0" >

  <div id="btPreloader" class="btPreloader fullScreenHeight">
    <div class="animation">
      <div><img class="preloaderLogo" src="/wp-content/uploads/sites/logo_dark.png" alt="Wedding planners" data-alt-logo="/wp-content/uploads/sites/logo.png"></div>
      <div class="btLoader"></div>
      <p></p>
    </div>
  </div><!-- /.preloader -->

  <div class="btPageWrap" id="top">

    <%- include('partials/_header') -%>

    <div class="btContentWrap btClear">
      <div class="btContentHolder">

        <div class="btContent">
          <section id="bt_section5a084ca5dedf4" data-parallax="0.2" data-parallax-offset="0"
                   class="boldSection topExtraSpaced bottomSpaced btDarkSkin gutter inherit btParallax wBackground cover"
                   style="background-image:url('/wp-content/uploads/sites/photo_3.jpg');"
                   data-animation-icon="no_icon">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-12 col-ms-12  btTextCenter animate animate-fadein btMiddleVertical"
                           data-width="12">
                        <div class="rowItemContent">
                          <header class="header btClear huge">
                            <div class="btSuperTitle">Siz hayal edin biz gerçeklestirelim</div>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="bt_section5a084ca5df636" class="boldSection gutter">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-12 col-ms-12  btTextCenter animate animate-fadein inherit"
                           data-width="12">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSpaced bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                          <div class="bpgPhoto btTextCenter">
                            <div class="btImage"><img
                                      src="/wp-content/uploads/sites/vinjeta_dark.png"
                                      alt="/wp-content/uploads/sites/vinjeta_dark.png">
                            </div>
                          </div>
                          <header class="header btClear extralarge btDash bottomDash">
                            <div class="dash"><h2><span class="headline">Kategori adı</span></h2></div>
                          </header>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-12 col-ms-12  btTextCenter inherit" data-width="12">
                        <div class="rowItemContent">
                          <div class="tilesWall btGridGallery tiled  btGridGap-20 lightbox" data-col="3">
                            <div class="gridSizer"></div>
                            <div class="gridItem btGhostSliderThumb bt21" data-order-num="0">
                              <div class="btTileBox">
                                <div class="bpgPhoto ">
                                  <a href="/wp-content/uploads/sites/gall-r3c3.jpg"
                                     class="lightbox" data-title=""></a>
                                  <div class="boldPhotoBox">
                                    <div class="bpbItem">
                                      <div class="btImage"><img
                                                src="/wp-content/uploads/sites/gall-r3c3-1080x540.jpg"
                                                alt="/wp-content/uploads/sites/gall-r3c3-1080x540.jpg">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="captionPane">
                                    <div class="captionTable">
                                      <div class="captionCell">
                                        <div class="captionTxt"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="gridItem btGhostSliderThumb bt11" data-order-num="1">
                              <div class="btTileBox">
                                <div class="bpgPhoto ">
                                  <a href="/wp-content/uploads/sites/gall-r1c1.jpg"
                                     class="lightbox" data-title=""></a>
                                  <div class="boldPhotoBox">
                                    <div class="bpbItem">
                                      <div class="btImage"><img
                                                src="/wp-content/uploads/sites/gall-r1c1-540x540.jpg"
                                                alt="/wp-content/uploads/sites/gall-r1c1-540x540.jpg">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="captionPane">
                                    <div class="captionTable">
                                      <div class="captionCell">
                                        <div class="captionTxt"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="gridItem btGhostSliderThumb bt11" data-order-num="2">
                              <div class="btTileBox">
                                <div class="bpgPhoto ">
                                  <a href="/wp-content/uploads/sites/gall-r2c3.jpg"
                                     class="lightbox" data-title=""></a>
                                  <div class="boldPhotoBox">
                                    <div class="bpbItem">
                                      <div class="btImage"><img
                                                src="/wp-content/uploads/sites/gall-r2c3-540x540.jpg"
                                                alt="/wp-content/uploads/sites/gall-r2c3-540x540.jpg">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="captionPane">
                                    <div class="captionTable">
                                      <div class="captionCell">
                                        <div class="captionTxt"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="gridItem btGhostSliderThumb bt21" data-order-num="3">
                              <div class="btTileBox">
                                <div class="bpgPhoto ">
                                  <a href="/wp-content/uploads/sites/photo_4.jpg"
                                     class="lightbox" data-title=""></a>
                                  <div class="boldPhotoBox">
                                    <div class="bpbItem">
                                      <div class="btImage"><img
                                                src="/wp-content/uploads/sites/photo_4-1080x540.jpg"
                                                alt="/wp-content/uploads/sites/photo_4-1080x540.jpg">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="captionPane">
                                    <div class="captionTable">
                                      <div class="captionCell">
                                        <div class="captionTxt"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="gridItem btGhostSliderThumb bt21" data-order-num="4">
                              <div class="btTileBox">
                                <div class="bpgPhoto ">
                                  <a href="/wp-content/uploads/sites/gall-r3c1.jpg"
                                     class="lightbox" data-title=""></a>
                                  <div class="boldPhotoBox">
                                    <div class="bpbItem">
                                      <div class="btImage"><img
                                                src="/wp-content/uploads/sites/gall-r3c1-1080x540.jpg"
                                                alt="/wp-content/uploads/sites/gall-r3c1-1080x540.jpg">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="captionPane">
                                    <div class="captionTable">
                                      <div class="captionCell">
                                        <div class="captionTxt"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="gridItem btGhostSliderThumb bt11" data-order-num="5">
                              <div class="btTileBox">
                                <div class="bpgPhoto ">
                                  <a href="/wp-content/uploads/sites/Wedding-3.jpg"
                                     class="lightbox" data-title=""></a>
                                  <div class="boldPhotoBox">
                                    <div class="bpbItem">
                                      <div class="btImage"><img
                                                src="/wp-content/uploads/sites/Wedding-3-540x540.jpg"
                                                alt="/wp-content/uploads/sites/Wedding-3-540x540.jpg">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="captionPane">
                                    <div class="captionTable">
                                      <div class="captionCell">
                                        <div class="captionTxt"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="btClear btSeparator bottomSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div><!-- /boldthemes_content -->

      </div><!-- /contentHolder -->
    </div><!-- /contentWrap -->

    <%- include('partials/_footer') -%>

  </div><!-- /pageWrap -->

<%- include('partials/_foot', {gallery: true}) -%>