<%- include('partials/_head') -%>

<body class="home page-template-default page page-id-127 bodyPreloader btMenuCenterEnabled btStickyEnabled btLightSkin btBelowMenu btTopToolsInMenuArea btNoSidebar" data-autoplay="0" >

  <div id="btPreloader" class="btPreloader fullScreenHeight">
    <div class="animation">
      <div><img class="preloaderLogo" src="/wp-content/uploads/sites/logo_dark.png" alt="Wedding planners" data-alt-logo="/wp-content/uploads/sites/logo.png"></div>
      <div class="btLoader"></div>
      <p></p>
    </div>
  </div><!-- /.preloader -->

  <div class="btPageWrap" id="top">

    <%- include('partials/_header') -%>

    <div class="btContentWrap btClear">
      <div class="btContentHolder">

        <div class="btContent">
          <section id="bt_section59d8d2ca2ef69" data-parallax="0.2" data-parallax-offset="0"
                   class="boldSection topExtraSpaced bottomSpaced btDarkSkin gutter inherit btParallax wBackground cover"
                   style="background-image:url('/wp-content/uploads/sites/story-bck.jpg');"
                   data-animation-icon="no_icon">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-12 col-ms-12  btTextCenter animate animate-fadein btMiddleVertical"
                           data-width="12">
                        <div class="rowItemContent">
                          <header class="header btClear huge">
                            <div class="btSuperTitle">Siz hayal edin biz gerçeklestirelim</div>
                            <div class="dash"><h1><span class="headline">bidolu Organizasyon</span></h1></div>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="bt_section59d8d2ca2f58d" class="boldSection topSpaced gutter inherit"
                   data-animation-icon="no_icon">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-6 col-sm-12 btTextLeft animate animate-fadein inherit btNoPadding"
                           data-width="6">
                        <div class="rowItemContent">
                          <div class="bpgPhoto btTextCenter">
                            <div class="btImage"><img src="/wp-content/uploads/sites/squere-top-left-540x540.jpg"
                                                      alt="/wp-content/uploads/sites/squere-top-left-540x540.jpg"></div>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-6 col-sm-12 btTextLeft animate animate-fadein btMiddleVertical btDoublePadding"
                           style="background-color: rgba(242, 242, 242, 1);" data-width="6">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSemiSpaced noBorder visible-ms visible-xs">
                            <hr>
                          </div>
                          <header class="header btClear extralarge btDash bottomDash">
                            <div class="dash"><h2><span class="headline">Wedding flowers</span></h2></div>
                            <div class="btSubTitle">Eum iriure dolor in hendrerit in vulputate velit esse molestie con
                              sequat, vel illum dolore eu feugiat
                            </div>
                          </header>
                          <div class="btText"><h2></h2>
                            <p>Ut massa nunc, aliquam aliquet consequat quis, tincidunt quis massa. Sed euismod, mi id
                              egestas lobortis, tortor quam varius ligula, nec accumsan risus odio eu tellus. Sed eget
                              scelerisque odio. Pellentesque consectetur, dolor sed dictum ullamcorper, libero nisi
                              posuere libero, tincidunt finibus ante risus in quam.</p>
                          </div>
                          <div class="btClear btSeparator bottomSemiSpaced noBorder visible-ms visible-xs">
                            <hr>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-6 col-sm-12 btTextLeft animate animate-fadein btMiddleVertical btDoublePadding"
                           style="background-color: rgba(242, 242, 242, 1);" data-width="6">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSemiSpaced noBorder visible-ms visible-xs">
                            <hr>
                          </div>
                          <header class="header btClear extralarge btDash bottomDash">
                            <div class="dash"><h2><span class="headline">Party location</span></h2></div>
                            <div class="btSubTitle">Eum iriure dolor in hendrerit in vulputate velit esse molestie con
                              sequat, vel illum dolore eu feugiat
                            </div>
                          </header>
                          <div class="btText"><h2></h2>
                            <p>Ut massa nunc, aliquam aliquet consequat quis, tincidunt quis massa. Sed euismod, mi id
                              egestas lobortis, tortor quam varius ligula, nec accumsan risus odio eu tellus. Sed eget
                              scelerisque odio. Pellentesque consectetur, dolor sed dictum ullamcorper, libero nisi
                              posuere libero, tincidunt finibus ante risus in quam.</p>
                          </div>
                          <div class="btClear btSeparator bottomSemiSpaced noBorder visible-ms visible-xs">
                            <hr>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-6 col-sm-12 btTextLeft animate animate-fadein inherit btNoPadding"
                           data-width="6">
                        <div class="rowItemContent">
                          <div class="bpgPhoto btTextCenter">
                            <div class="btImage"><img src="/wp-content/uploads/sites/squere-bottom-right-540x540.jpg"
                                                      alt="/wp-content/uploads/sites/squere-bottom-right-540x540.jpg">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-6 col-sm-12 btTextLeft animate animate-fadein inherit btNoPadding"
                           data-width="6">
                        <div class="rowItemContent">
                          <div class="bpgPhoto btTextCenter">
                            <div class="btImage"><img src="/wp-content/uploads/sites/Services_decoration_1-540x540.jpg"
                                                      alt="/wp-content/uploads/sites/Services_decoration_1-540x540.jpg">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-6 col-sm-12 btTextLeft animate animate-fadein btMiddleVertical btDoublePadding"
                           style="background-color: rgba(242, 242, 242, 1);" data-width="6">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSemiSpaced noBorder visible-ms visible-xs">
                            <hr>
                          </div>
                          <header class="header btClear extralarge btDash bottomDash">
                            <div class="dash"><h2><span class="headline">Decoration</span></h2></div>
                            <div class="btSubTitle">Eum iriure dolor in hendrerit in vulputate velit esse molestie con
                              sequat, vel illum dolore eu feugiat
                            </div>
                          </header>
                          <div class="btText"><h2></h2>
                            <p>Ut massa nunc, aliquam aliquet consequat quis, tincidunt quis massa. Sed euismod, mi id
                              egestas lobortis, tortor quam varius ligula, nec accumsan risus odio eu tellus. Sed eget
                              scelerisque odio. Pellentesque consectetur, dolor sed dictum ullamcorper, libero nisi
                              posuere libero, tincidunt finibus ante risus in quam.</p>
                          </div>
                          <div class="btClear btSeparator bottomSemiSpaced noBorder visible-ms visible-xs">
                            <hr>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="bt_section59d8d2ca316cd" class="boldSection topSpaced bottomSpaced inherit">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-3 col-sm-6 col-ms-12 btTextLeft" data-width="3">
                        <div class="rowItemContent"></div>
                      </div>
                      <div class="rowItem col-md-6 col-sm-12 btTextCenter animate animate-fadein inherit"
                           data-width="6">
                        <div class="rowItemContent">
                          <div class="btIconImageRow"><span
                                    class="btIco btIcoDefaultType btIcoBigSize btIcoAccentColor"><span
                                      data-ico-cs="&#xe901;" class="btIcoHolder"></span></span></div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                          <header class="header btClear extralarge btDash bottomDash">
                            <div class="dash"><h2><span class="headline">Testimonials</span></h2></div>
                            <div class="btSubTitle">Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur.
                            </div>
                          </header>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-3 col-sm-6 col-ms-12 btTextLeft" data-width="3">
                        <div class="rowItemContent"></div>
                      </div>
                    </div>
                  </div>
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-12 col-ms-12  btTextLeft animate animate-fadein inherit"
                           data-width="12">
                        <div class="rowItemContent">
                          <div class="boldClientList">
                            <div class="bclPort" data-number="4">
                              <div class="bclItem">
                                <div class="btWhishPane">
                                  <div class="btWhishTxt">
                                    <p>We need to dialog around your choice of work attire. Run it up the flagpole turd
                                      polishing powerPointless, so pixel pushing.</p>
                                  </div><!-- /btWhishTxt -->
                                  <div class="btWhishAuthor">
                                    <div class="btWishAuthorAvatar">
                                      <img alt="" src="/wp-content/uploads/sites/father1-160x160.jpg"
                                           class="btWishAvatar">
                                    </div><!-- /btWishAuthorAvatar -->
                                    <div class="btWishAuthorMeta">
                                      <h4>Joshua&#8217;s father</h4>
                                      <p>She&#8217;s great!</p>
                                    </div><!-- /btWishAuthorMeta -->
                                  </div><!-- /btWhishAuthor -->
                                </div>
                              </div>
                              <div class="bclItem">
                                <div class="btWhishPane">
                                  <div class="btWhishTxt">
                                    <p>Draw a line in the sand waste of resources paddle on both sides, so killing it
                                      pulling teeth. Move the needle drop-dead date.</p>
                                  </div><!-- /btWhishTxt -->
                                  <div class="btWhishAuthor">
                                    <div class="btWishAuthorAvatar">
                                      <img alt="" src="/wp-content/uploads/sites/brother-160x160.jpg"
                                           class="btWishAvatar">
                                    </div><!-- /btWishAuthorAvatar -->
                                    <div class="btWishAuthorMeta">
                                      <h4>Georgann Darrow</h4>
                                      <p>Boss</p>
                                    </div><!-- /btWishAuthorMeta -->
                                  </div><!-- /btWhishAuthor -->
                                </div>
                              </div>
                              <div class="bclItem">
                                <div class="btWhishPane">
                                  <div class="btWhishTxt">
                                    <p>Accountable talk quick-win level the playing field it just needs more cowbell
                                      idea shower overcome key issues to meet.</p>
                                  </div><!-- /btWhishTxt -->
                                  <div class="btWhishAuthor">
                                    <div class="btWishAuthorAvatar">
                                      <img alt="" src="/wp-content/uploads/sites/bridesmaid_1-160x160.jpg"
                                           class="btWishAvatar">
                                    </div><!-- /btWishAuthorAvatar -->
                                    <div class="btWishAuthorMeta">
                                      <h4>Carmel Abasta</h4>
                                      <p>Best friend</p>
                                    </div><!-- /btWishAuthorMeta -->
                                  </div><!-- /btWhishAuthor -->
                                </div>
                              </div>
                              <div class="bclItem">
                                <div class="btWhishPane">
                                  <div class="btWhishTxt">
                                    <p>Shower overcome key issues to meet. Accountable talk quick-win level the playing
                                      field it just needs more cowbell idea.</p>
                                  </div><!-- /btWhishTxt -->
                                  <div class="btWhishAuthor">
                                    <div class="btWishAuthorAvatar">
                                      <img alt="" src="/wp-content/uploads/sites/groomsmen_3-160x160.jpg"
                                           class="btWishAvatar">
                                    </div><!-- /btWishAuthorAvatar -->
                                    <div class="btWishAuthorMeta">
                                      <h4>John Lee</h4>
                                      <p>School mate</p>
                                    </div><!-- /btWishAuthorMeta -->
                                  </div><!-- /btWhishAuthor -->
                                </div>
                              </div>
                              <div class="bclItem">
                                <div class="btWhishPane">
                                  <div class="btWhishTxt">
                                    <p>Put a record on and see who dances usabiltiy cross-pollination. New economy
                                      knowledge is power draw a line in the sand.</p>
                                  </div><!-- /btWhishTxt -->
                                  <div class="btWhishAuthor">
                                    <div class="btWishAuthorAvatar">
                                      <img alt="" src="/wp-content/uploads/sites/father-160x160.jpg"
                                           class="btWishAvatar">
                                    </div><!-- /btWishAuthorAvatar -->
                                    <div class="btWishAuthorMeta">
                                      <h4>Terica Hallen</h4>
                                      <p>Friend</p>
                                    </div><!-- /btWishAuthorMeta -->
                                  </div><!-- /btWhishAuthor -->
                                </div>
                              </div>
                              <div class="bclItem">
                                <div class="btWhishPane">
                                  <div class="btWhishTxt">
                                    <p>High-level critical mass we need to have a Come to Jesus meeting with Phil about
                                      his attitude get six alpha pups in here.</p>
                                  </div><!-- /btWhishTxt -->
                                  <div class="btWhishAuthor">
                                    <div class="btWishAuthorAvatar">
                                      <img alt="" src="/wp-content/uploads/sites/mother-160x160.jpg"
                                           class="btWishAvatar">
                                    </div><!-- /btWishAuthorAvatar -->
                                    <div class="btWishAuthorMeta">
                                      <h4>Nubia Hetzler</h4>
                                      <p>Next bride</p>
                                    </div><!-- /btWishAuthorMeta -->
                                  </div><!-- /btWhishAuthor -->
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div><!-- /boldthemes_content -->

      </div><!-- /contentHolder -->
    </div><!-- /contentWrap -->

    <%- include('partials/_footer') -%>

  </div><!-- /pageWrap -->

<%- include('partials/_foot') -%>