<%- include('partials/_head') -%>

<body class="home page-template-default page page-id-127 bodyPreloader btMenuCenterEnabled btStickyEnabled btLightSkin btBelowMenu btTopToolsInMenuArea btNoSidebar" data-autoplay="0" >

  <div id="btPreloader" class="btPreloader fullScreenHeight">
    <div class="animation">
      <div><img class="preloaderLogo" src="/wp-content/uploads/sites/logo_dark.png" alt="Wedding planners" data-alt-logo="/wp-content/uploads/sites/logo.png"></div>
      <div class="btLoader"></div>
      <p></p>
    </div>
  </div><!-- /.preloader -->

  <div class="btPageWrap" id="top">

    <%- include('partials/_header') -%>

    <div class="btContentWrap btClear">
      <div class="btContentHolder">

        <div class="btContent">
          <section id="bt_section59d8d2ca2ef69" data-parallax="0.2" data-parallax-offset="0"
                   class="boldSection topExtraSpaced bottomSpaced btDarkSkin gutter inherit btParallax wBackground cover"
                   style="background-image:url('/wp-content/uploads/sites/jane-joshua.jpg');"
                   data-animation-icon="no_icon">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-12 col-ms-12  btTextCenter animate animate-fadein btMiddleVertical"
                           data-width="12">
                        <div class="rowItemContent">
                          <header class="header btClear huge">
                            <div class="btSuperTitle">Siz hayal edin biz gerçeklestirelim</div>
                            <div class="dash"><h1><span class="headline">bidolu Organizasyon</span></h1></div>
                          </header>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="services" data-parallax="0.1" data-parallax-offset="0"
                   class="boldSection topSpaced bottomSpaced gutter inherit btParallax" data-animation-icon="cs_e007">
            <div class="port">
              <div class="boldCell">
                <div class="boldCellInner">
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-3 col-sm-6 col-ms-12 btTextLeft" data-width="3">
                        <div class="rowItemContent"></div>
                      </div>
                      <div class="rowItem col-md-6 col-sm-12 btTextCenter animate animate-fadein inherit"
                           data-width="6">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator bottomSemiSpaced noBorder">
                            <hr>
                          </div>
                          <header class="header btClear extralarge btDash bottomDash" style="margin-right: 10px;">
                            <div class="dash"><h2><span class="headline">Hizmetlerimiz</span></h2></div>
                            <div class="btSubTitle">Dl eum iriure dolor in hendrerit in vulputate velit esse molestie
                              con sequat, vel illum dolore eu feugiat
                            </div>
                          </header>
                          <div class="btClear btSeparator bottomSemiSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-3 col-sm-6 col-ms-12 btTextLeft" data-width="3">
                        <div class="rowItemContent"></div>
                      </div>
                    </div>
                  </div>
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-4 col-ms-12 btTextCenter animate animate-fadein inherit"
                           data-width="4">
                        <div class="rowItemContent">
                          <div class="btIconImageRow"><span
                                    class="btIco btIcoDefaultType btIcoLargeSize btIcoAccentColor"><span
                                      data-ico-cs="&#xe90e;" class="btIcoHolder"></span></span></div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                          <header class="header btClear large btDash bottomDash">
                            <div class="dash"><h2><span class="headline">Wedding flowers</span></h2></div>
                            <div class="btSubTitle">Eum iriure dolor in hendrerit in vulputate velit esse molestie con
                              sequat, vel illum dolore eu feugiat
                            </div>
                          </header>
                          <div class="btClear btSeparator bottomSemiSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-4 col-ms-12 btTextCenter animate animate-fadein inherit"
                           data-width="4">
                        <div class="rowItemContent">
                          <div class="btIconImageRow"><span
                                    class="btIco btIcoDefaultType btIcoLargeSize btIcoAccentColor"><span
                                      data-ico-cs="&#xe90c;" class="btIcoHolder"></span></span></div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                          <header class="header btClear large btDash bottomDash">
                            <div class="dash"><h2><span class="headline">Party location</span></h2></div>
                            <div class="btSubTitle">Eum iriure dolor in hendrerit in vulputate velit esse molestie con
                              sequat, vel illum dolore eu feugiat
                            </div>
                          </header>
                          <div class="btClear btSeparator bottomSemiSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-4 col-ms-12 btTextCenter animate animate-fadein inherit"
                           data-width="4">
                        <div class="rowItemContent">
                          <div class="btIconImageRow"><span
                                    class="btIco btIcoDefaultType btIcoLargeSize btIcoAccentColor"><span
                                      data-ico-cs="&#xe914;" class="btIcoHolder"></span></span></div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                          <header class="header btClear large btDash bottomDash">
                            <div class="dash"><h2><span class="headline">Decoration </span></h2></div>
                            <div class="btSubTitle">Eum iriure dolor in hendrerit in vulputate velit esse molestie con
                              sequat, vel illum dolore eu feugiat
                            </div>
                          </header>
                          <div class="btClear btSeparator bottomSemiSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="boldRow ">
                    <div class="boldRowInner">
                      <div class="rowItem col-md-4 col-ms-12 btTextCenter animate animate-fadein inherit"
                           data-width="4">
                        <div class="rowItemContent">
                          <div class="btIconImageRow"><span
                                    class="btIco btIcoDefaultType btIcoLargeSize btIcoAccentColor"><span
                                      data-ico-cs="&#xe910;" class="btIcoHolder"></span></span></div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                          <header class="header btClear large btDash bottomDash">
                            <div class="dash"><h2><span class="headline">Gift ideas</span></h2></div>
                            <div class="btSubTitle">Eum iriure dolor in hendrerit in vulputate velit esse molestie con
                              sequat, vel illum dolore eu feugiat
                            </div>
                          </header>
                          <div class="btClear btSeparator bottomSemiSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-4 col-ms-12 btTextCenter animate animate-fadein inherit"
                           data-width="4">
                        <div class="rowItemContent">
                          <div class="btIconImageRow"><span
                                    class="btIco btIcoDefaultType btIcoLargeSize btIcoAccentColor"><span
                                      data-ico-cs="&#xe90f;" class="btIcoHolder"></span></span></div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                          <header class="header btClear large btDash bottomDash">
                            <div class="dash"><h2><span class="headline">Wedding menu</span></h2></div>
                            <div class="btSubTitle">Eum iriure dolor in hendrerit in vulputate velit esse molestie con
                              sequat, vel illum dolore eu feugiat
                            </div>
                          </header>
                          <div class="btClear btSeparator bottomSemiSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-md-4 col-ms-12 btTextCenter animate animate-fadein inherit"
                           data-width="4">
                        <div class="rowItemContent">
                          <div class="btIconImageRow"><span
                                    class="btIco btIcoDefaultType btIcoLargeSize btIcoAccentColor"><span
                                      data-ico-cs="&#xe916;" class="btIcoHolder"></span></span></div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder">
                            <hr>
                          </div>
                          <header class="header btClear large btDash bottomDash">
                            <div class="dash"><h2><span class="headline">Honeymoon ideas</span></h2></div>
                            <div class="btSubTitle">Eum iriure dolor in hendrerit in vulputate velit esse molestie con
                              sequat, vel illum dolore eu feugiat
                            </div>
                          </header>
                          <div class="btClear btSeparator bottomSemiSpaced noBorder">
                            <hr>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div><!-- /boldthemes_content -->

      </div><!-- /contentHolder -->
    </div><!-- /contentWrap -->

    <%- include('partials/_footer') -%>

  </div><!-- /pageWrap -->

<%- include('partials/_foot') -%>