<%- include('partials/_head') -%>

<body class="home page-template-default page page-id-127 bodyPreloader btMenuCenterEnabled btStickyEnabled btLightSkin btBelowMenu btTopToolsInMenuArea btNoSidebar" data-autoplay="0" >

  <div id="btPreloader" class="btPreloader fullScreenHeight">
    <div class="animation">
      <div><img class="preloaderLogo" src="/wp-content/uploads/sites/logo_dark.png" alt="Wedding planners" data-alt-logo="/wp-content/uploads/sites/logo.png"></div>
      <div class="btLoader"></div>
      <p></p>
    </div>
  </div><!-- /.preloader -->

  <div class="btPageWrap" id="top">

    <%- include('partials/_header') -%>

    <div class="btContentWrap btClear">
      <div class="btContentHolder">

        Satın alma sayfası içeriği

      </div><!-- /contentHolder -->
    </div><!-- /contentWrap -->

    <%- include('partials/_footer') -%>

  </div><!-- /pageWrap -->

<%- include('partials/_foot') -%>