<%- include('partials/_head') -%>

<body class="home page-template-default page page-id-127 bodyPreloader btMenuCenterEnabled btStickyEnabled btLightSkin btBelowMenu btTopToolsInMenuArea btNoSidebar" data-autoplay="0" >

  <div id="btPreloader" class="btPreloader fullScreenHeight">
    <div class="animation">
      <div><img class="preloaderLogo" src="/wp-content/uploads/sites/logo_dark.png" alt="Wedding planners" data-alt-logo="/wp-content/uploads/sites/logo.png"></div>
      <div class="btLoader"></div>
      <p></p>
    </div>
  </div><!-- /.preloader -->

  <div class="btPageWrap" id="top">

    <%- include('partials/_header') -%>

    <div class="btContentWrap btClear">
      <div class="btContentHolder">

        <div class="btContent">
          <section class="boldSection gutter btWooCommerce ">
            <div class="port">
              <div class="boldCell">
                <div class="boldRow">
                  <div class="rowItem col-md-12 col-ms-12">

                    <p class="woocommerce-result-count">Showing 1&ndash;12 of 15 results</p>
                    <form class="woocommerce-ordering" method="get">
                      <select name="orderby" class="orderby">
                        <option value="menu_order" selected='selected'>Default sorting</option>
                        <option value="popularity">Sort by popularity</option>
                        <option value="rating">Sort by average rating</option>
                        <option value="date">Sort by newness</option>
                        <option value="price">Sort by price: low to high</option>
                        <option value="price-desc">Sort by price: high to low</option>
                      </select>
                    </form>

                    <ul class="products">

                      <li class="post-70 product type-product status-publish has-post-thumbnail product_cat-posters first instock sale shipping-taxable purchasable product-type-simple">

                        <div class="btPriceTableSticker">
                          <div>
                            <div>Sale!</div>
                          </div>
                        </div>
                        <div class="bpgPhoto btTextCenter">
                          <a href="/product/flying-ninja/"
                             target="_self"></a>
                          <div class="boldPhotoBox">
                            <div class="bpbItem">
                              <div class="btImage"><img
                                        src="/wp-content/uploads/sites/5/2016/02/shop_1-300x300.jpg"
                                        alt="/wp-content/uploads/sites/5/2016/02/shop_1-300x300.jpg">
                              </div>
                            </div>
                          </div>
                          <div class="captionPane">
                            <div class="captionTable">
                              <div class="captionCell">
                                <div class="captionTxt"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <header class="header btClear small">
                          <div class="btSuperTitle"><span class="btArticleCategories"><span class="btArticleCategory"><a
                                        href="/product-category/posters/"
                                        rel="tag">Posters</a></span></span></div>
                          <div class="dash"><h4><span class="headline"><a
                                        href="/product/flying-ninja/">Flying Ninja</a></span>
                            </h4></div>
                          <div class="btSubTitle">
                            <div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
                            </div>
                          </div>
                        </header>
                        <span class="price"><del><span class="woocommerce-Price-amount amount"><span
                                      class="woocommerce-Price-currencySymbol">&pound;</span>15.00</span></del> <ins><span
                                    class="woocommerce-Price-amount amount"><span
                                      class="woocommerce-Price-currencySymbol">&pound;</span>12.00</span></ins></span>
                        <a rel="nofollow" href="/wedding-planners/shop/?add-to-cart=70" data-quantity="1"
                           data-product_id="70" data-product_sku=""
                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a></li>


                      <li class="post-19 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-t-shirts  instock shipping-taxable purchasable product-type-simple">
                        <div class="bpgPhoto btTextCenter">
                          <a href="/product/premium-quality/"
                             target="_self"></a>
                          <div class="boldPhotoBox">
                            <div class="bpbItem">
                              <div class="btImage"><img
                                        src="/wp-content/uploads/sites/5/2016/02/shop_11-300x300.jpg"
                                        alt="/wp-content/uploads/sites/5/2016/02/shop_11-300x300.jpg">
                              </div>
                            </div>
                          </div>
                          <div class="captionPane">
                            <div class="captionTable">
                              <div class="captionCell">
                                <div class="captionTxt"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <header class="header btClear small">
                          <div class="btSuperTitle"><span class="btArticleCategories"><span class="btArticleCategory"><a
                                        href="/product-category/clothing/"
                                        rel="tag">Clothing</a><a
                                        href="/product-category/clothing/t-shirts/"
                                        rel="tag">T-shirts</a></span></span></div>
                          <div class="dash"><h4><span class="headline"><a
                                        href="/product/premium-quality/">Premium Quality</a></span>
                            </h4></div>
                          <div class="btSubTitle">
                            <div class="star-rating"><span style="width:90%">Rated <strong class="rating">4.50</strong> out of 5</span>
                            </div>
                          </div>
                        </header>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span
                                    class="woocommerce-Price-currencySymbol">&pound;</span>20.00</span></span>
                        <a rel="nofollow" href="/wedding-planners/shop/?add-to-cart=19" data-quantity="1"
                           data-product_id="19" data-product_sku=""
                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a></li>


                      <li class="post-758 product type-product status-publish has-post-thumbnail product_cat-posters last instock sale shipping-taxable purchasable product-type-simple">

                        <div class="btPriceTableSticker">
                          <div>
                            <div>Sale!</div>
                          </div>
                        </div>
                        <div class="bpgPhoto btTextCenter">
                          <a href="/product/premium-quality-2/"
                             target="_self"></a>
                          <div class="boldPhotoBox">
                            <div class="bpbItem">
                              <div class="btImage"><img
                                        src="/wp-content/uploads/sites/5/2016/02/shop_8-300x300.jpg"
                                        alt="/wp-content/uploads/sites/5/2016/02/shop_8-300x300.jpg">
                              </div>
                            </div>
                          </div>
                          <div class="captionPane">
                            <div class="captionTable">
                              <div class="captionCell">
                                <div class="captionTxt"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <header class="header btClear small">
                          <div class="btSuperTitle"><span class="btArticleCategories"><span class="btArticleCategory"><a
                                        href="/product-category/posters/"
                                        rel="tag">Posters</a></span></span></div>
                          <div class="dash"><h4><span class="headline"><a
                                        href="/product/premium-quality-2/">Premium Quality</a></span>
                            </h4></div>
                          <div class="btSubTitle">
                            <div class="star-rating"><span style="width:40%">Rated <strong class="rating">2.00</strong> out of 5</span>
                            </div>
                          </div>
                        </header>
                        <span class="price"><del><span class="woocommerce-Price-amount amount"><span
                                      class="woocommerce-Price-currencySymbol">&pound;</span>15.00</span></del> <ins><span
                                    class="woocommerce-Price-amount amount"><span
                                      class="woocommerce-Price-currencySymbol">&pound;</span>12.00</span></ins></span>
                        <a rel="nofollow" href="/wedding-planners/shop/?add-to-cart=758" data-quantity="1"
                           data-product_id="758" data-product_sku=""
                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a></li>


                      <li class="post-22 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-t-shirts first instock shipping-taxable purchasable product-type-variable has-default-attributes has-children">
                        <div class="bpgPhoto btTextCenter">
                          <a href="/product/ship-your-idea/"
                             target="_self"></a>
                          <div class="boldPhotoBox">
                            <div class="bpbItem">
                              <div class="btImage"><img
                                        src="/wp-content/uploads/sites/5/2016/02/shop_10-300x300.jpg"
                                        alt="/wp-content/uploads/sites/5/2016/02/shop_10-300x300.jpg">
                              </div>
                            </div>
                          </div>
                          <div class="captionPane">
                            <div class="captionTable">
                              <div class="captionCell">
                                <div class="captionTxt"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <header class="header btClear small">
                          <div class="btSuperTitle"><span class="btArticleCategories"><span class="btArticleCategory"><a
                                        href="/product-category/clothing/"
                                        rel="tag">Clothing</a><a
                                        href="/product-category/clothing/t-shirts/"
                                        rel="tag">T-shirts</a></span></span></div>
                          <div class="dash"><h4><span class="headline"><a
                                        href="/product/ship-your-idea/">Ship Your Idea</a></span>
                            </h4></div>
                          <div class="btSubTitle">
                            <div class="star-rating"><span style="width:86.6%">Rated <strong
                                        class="rating">4.33</strong> out of 5</span></div>
                          </div>
                        </header>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span
                                    class="woocommerce-Price-currencySymbol">&pound;</span>20.00</span></span>
                        <a rel="nofollow"
                           href="/product/ship-your-idea/"
                           data-quantity="1" data-product_id="22" data-product_sku=""
                           class="button product_type_variable add_to_cart_button">Select options</a></li>


                      <li class="post-67 product type-product status-publish has-post-thumbnail product_cat-posters  instock shipping-taxable purchasable product-type-simple">
                        <div class="bpgPhoto btTextCenter">
                          <a href="/product/ship-your-idea-3/"
                             target="_self"></a>
                          <div class="boldPhotoBox">
                            <div class="bpbItem">
                              <div class="btImage"><img
                                        src="/wp-content/uploads/sites/5/2016/02/shop_8-300x300.jpg"
                                        alt="/wp-content/uploads/sites/5/2016/02/shop_8-300x300.jpg">
                              </div>
                            </div>
                          </div>
                          <div class="captionPane">
                            <div class="captionTable">
                              <div class="captionCell">
                                <div class="captionTxt"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <header class="header btClear small">
                          <div class="btSuperTitle"><span class="btArticleCategories"><span class="btArticleCategory"><a
                                        href="/product-category/posters/"
                                        rel="tag">Posters</a></span></span></div>
                          <div class="dash"><h4><span class="headline"><a
                                        href="/product/ship-your-idea-3/">Ship Your Idea</a></span>
                            </h4></div>
                          <div class="btSubTitle"><span class="btNoStarRating"></span></div>
                        </header>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span
                                    class="woocommerce-Price-currencySymbol">&pound;</span>15.00</span></span>
                        <a rel="nofollow" href="/wedding-planners/shop/?add-to-cart=67" data-quantity="1"
                           data-product_id="67" data-product_sku=""
                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a></li>


                      <li class="post-83 product type-product status-publish has-post-thumbnail product_cat-albums product_cat-music last instock downloadable shipping-taxable purchasable product-type-simple">
                        <div class="bpgPhoto btTextCenter">
                          <a href="/product/woo-album-1/"
                             target="_self"></a>
                          <div class="boldPhotoBox">
                            <div class="bpbItem">
                              <div class="btImage"><img
                                        src="/wp-content/uploads/sites/5/2016/02/shop_5-300x300.jpg"
                                        alt="/wp-content/uploads/sites/5/2016/02/shop_5-300x300.jpg">
                              </div>
                            </div>
                          </div>
                          <div class="captionPane">
                            <div class="captionTable">
                              <div class="captionCell">
                                <div class="captionTxt"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <header class="header btClear small">
                          <div class="btSuperTitle"><span class="btArticleCategories"><span class="btArticleCategory"><a
                                        href="/product-category/music/albums/"
                                        rel="tag">Albums</a><a
                                        href="/product-category/music/"
                                        rel="tag">Music</a></span></span></div>
                          <div class="dash"><h4><span class="headline"><a
                                        href="/product/woo-album-1/">Woo Album #1</a></span>
                            </h4></div>
                          <div class="btSubTitle"><span class="btNoStarRating"></span></div>
                        </header>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span
                                    class="woocommerce-Price-currencySymbol">&pound;</span>9.00</span></span>
                        <a rel="nofollow" href="/wedding-planners/shop/?add-to-cart=83" data-quantity="1"
                           data-product_id="83" data-product_sku=""
                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a></li>


                      <li class="post-87 product type-product status-publish has-post-thumbnail product_cat-albums product_cat-music first instock downloadable shipping-taxable purchasable product-type-simple">
                        <div class="bpgPhoto btTextCenter">
                          <a href="/product/woo-album-2/"
                             target="_self"></a>
                          <div class="boldPhotoBox">
                            <div class="bpbItem">
                              <div class="btImage"><img
                                        src="/wp-content/uploads/sites/5/2016/02/shop_5-300x300.jpg"
                                        alt="/wp-content/uploads/sites/5/2016/02/shop_5-300x300.jpg">
                              </div>
                            </div>
                          </div>
                          <div class="captionPane">
                            <div class="captionTable">
                              <div class="captionCell">
                                <div class="captionTxt"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <header class="header btClear small">
                          <div class="btSuperTitle"><span class="btArticleCategories"><span class="btArticleCategory"><a
                                        href="/product-category/music/albums/"
                                        rel="tag">Albums</a><a
                                        href="/product-category/music/"
                                        rel="tag">Music</a></span></span></div>
                          <div class="dash"><h4><span class="headline"><a
                                        href="/product/woo-album-2/">Woo Album #2</a></span>
                            </h4></div>
                          <div class="btSubTitle">
                            <div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
                            </div>
                          </div>
                        </header>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span
                                    class="woocommerce-Price-currencySymbol">&pound;</span>9.00</span></span>
                        <a rel="nofollow" href="/wedding-planners/shop/?add-to-cart=87" data-quantity="1"
                           data-product_id="87" data-product_sku=""
                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a></li>


                      <li class="post-90 product type-product status-publish has-post-thumbnail product_cat-albums product_cat-music  instock downloadable shipping-taxable purchasable product-type-simple">
                        <div class="bpgPhoto btTextCenter">
                          <a href="/product/woo-album-3/"
                             target="_self"></a>
                          <div class="boldPhotoBox">
                            <div class="bpbItem">
                              <div class="btImage"><img
                                        src="/wp-content/uploads/sites/5/2016/02/shop_4-300x300.jpg"
                                        alt="/wp-content/uploads/sites/5/2016/02/shop_4-300x300.jpg">
                              </div>
                            </div>
                          </div>
                          <div class="captionPane">
                            <div class="captionTable">
                              <div class="captionCell">
                                <div class="captionTxt"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <header class="header btClear small">
                          <div class="btSuperTitle"><span class="btArticleCategories"><span class="btArticleCategory"><a
                                        href="/product-category/music/albums/"
                                        rel="tag">Albums</a><a
                                        href="/product-category/music/"
                                        rel="tag">Music</a></span></span></div>
                          <div class="dash"><h4><span class="headline"><a
                                        href="/product/woo-album-3/">Woo Album #3</a></span>
                            </h4></div>
                          <div class="btSubTitle">
                            <div class="star-rating"><span style="width:60%">Rated <strong class="rating">3.00</strong> out of 5</span>
                            </div>
                          </div>
                        </header>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span
                                    class="woocommerce-Price-currencySymbol">&pound;</span>9.00</span></span>
                        <a rel="nofollow" href="/wedding-planners/shop/?add-to-cart=90" data-quantity="1"
                           data-product_id="90" data-product_sku=""
                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a></li>


                      <li class="post-96 product type-product status-publish has-post-thumbnail product_cat-albums product_cat-music last instock downloadable shipping-taxable purchasable product-type-simple">
                        <div class="bpgPhoto btTextCenter">
                          <a href="/product/woo-album-4/"
                             target="_self"></a>
                          <div class="boldPhotoBox">
                            <div class="bpbItem">
                              <div class="btImage"><img
                                        src="/wp-content/uploads/sites/5/2016/02/shop_2-300x300.jpg"
                                        alt="/wp-content/uploads/sites/5/2016/02/shop_2-300x300.jpg">
                              </div>
                            </div>
                          </div>
                          <div class="captionPane">
                            <div class="captionTable">
                              <div class="captionCell">
                                <div class="captionTxt"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <header class="header btClear small">
                          <div class="btSuperTitle"><span class="btArticleCategories"><span class="btArticleCategory"><a
                                        href="/product-category/music/albums/"
                                        rel="tag">Albums</a><a
                                        href="/product-category/music/"
                                        rel="tag">Music</a></span></span></div>
                          <div class="dash"><h4><span class="headline"><a
                                        href="/product/woo-album-4/">Woo Album #4</a></span>
                            </h4></div>
                          <div class="btSubTitle">
                            <div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span>
                            </div>
                          </div>
                        </header>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span
                                    class="woocommerce-Price-currencySymbol">&pound;</span>9.00</span></span>
                        <a rel="nofollow" href="/wedding-planners/shop/?add-to-cart=96" data-quantity="1"
                           data-product_id="96" data-product_sku=""
                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a></li>


                      <li class="post-15 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-t-shirts first instock sale shipping-taxable purchasable product-type-simple">

                        <div class="btPriceTableSticker">
                          <div>
                            <div>Sale!</div>
                          </div>
                        </div>
                        <div class="bpgPhoto btTextCenter">
                          <a href="/product/woo-logo/"
                             target="_self"></a>
                          <div class="boldPhotoBox">
                            <div class="bpbItem">
                              <div class="btImage"><img
                                        src="/wp-content/uploads/sites/5/2016/02/shop_12-300x300.jpg"
                                        alt="/wp-content/uploads/sites/5/2016/02/shop_12-300x300.jpg">
                              </div>
                            </div>
                          </div>
                          <div class="captionPane">
                            <div class="captionTable">
                              <div class="captionCell">
                                <div class="captionTxt"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <header class="header btClear small">
                          <div class="btSuperTitle"><span class="btArticleCategories"><span class="btArticleCategory"><a
                                        href="/product-category/clothing/"
                                        rel="tag">Clothing</a><a
                                        href="/product-category/clothing/t-shirts/"
                                        rel="tag">T-shirts</a></span></span></div>
                          <div class="dash"><h4><span class="headline"><a
                                        href="/product/woo-logo/">Woo Logo</a></span>
                            </h4></div>
                          <div class="btSubTitle">
                            <div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
                            </div>
                          </div>
                        </header>
                        <span class="price"><del><span class="woocommerce-Price-amount amount"><span
                                      class="woocommerce-Price-currencySymbol">&pound;</span>20.00</span></del> <ins><span
                                    class="woocommerce-Price-amount amount"><span
                                      class="woocommerce-Price-currencySymbol">&pound;</span>18.00</span></ins></span>
                        <a rel="nofollow" href="/wedding-planners/shop/?add-to-cart=15" data-quantity="1"
                           data-product_id="15" data-product_sku=""
                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a></li>


                      <li class="post-60 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-hoodies  instock shipping-taxable purchasable product-type-simple">
                        <div class="bpgPhoto btTextCenter">
                          <a href="/product/woo-logo-2/"
                             target="_self"></a>
                          <div class="boldPhotoBox">
                            <div class="bpbItem">
                              <div class="btImage"><img
                                        src="/wp-content/uploads/sites/5/2016/02/shop_9-300x300.jpg"
                                        alt="/wp-content/uploads/sites/5/2016/02/shop_9-300x300.jpg">
                              </div>
                            </div>
                          </div>
                          <div class="captionPane">
                            <div class="captionTable">
                              <div class="captionCell">
                                <div class="captionTxt"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <header class="header btClear small">
                          <div class="btSuperTitle"><span class="btArticleCategories"><span class="btArticleCategory"><a
                                        href="/product-category/clothing/"
                                        rel="tag">Clothing</a><a
                                        href="/product-category/clothing/hoodies/"
                                        rel="tag">Hoodies</a></span></span></div>
                          <div class="dash"><h4><span class="headline"><a
                                        href="/product/woo-logo-2/">Woo Logo</a></span>
                            </h4></div>
                          <div class="btSubTitle">
                            <div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
                            </div>
                          </div>
                        </header>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span
                                    class="woocommerce-Price-currencySymbol">&pound;</span>35.00</span></span>
                        <a rel="nofollow" href="/wedding-planners/shop/?add-to-cart=60" data-quantity="1"
                           data-product_id="60" data-product_sku=""
                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a></li>


                      <li class="post-79 product type-product status-publish has-post-thumbnail product_cat-posters last instock shipping-taxable purchasable product-type-simple">
                        <div class="bpgPhoto btTextCenter">
                          <a href="/product/woo-logo-3/"
                             target="_self"></a>
                          <div class="boldPhotoBox">
                            <div class="bpbItem">
                              <div class="btImage"><img
                                        src="/wp-content/uploads/sites/5/2016/02/shop_6-300x300.jpg"
                                        alt="/wp-content/uploads/sites/5/2016/02/shop_6-300x300.jpg">
                              </div>
                            </div>
                          </div>
                          <div class="captionPane">
                            <div class="captionTable">
                              <div class="captionCell">
                                <div class="captionTxt"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <header class="header btClear small">
                          <div class="btSuperTitle"><span class="btArticleCategories"><span class="btArticleCategory"><a
                                        href="/product-category/posters/"
                                        rel="tag">Posters</a></span></span></div>
                          <div class="dash"><h4><span class="headline"><a
                                        href="/product/woo-logo-3/">Woo Logo</a></span>
                            </h4></div>
                          <div class="btSubTitle"><span class="btNoStarRating"></span></div>
                        </header>
                        <span class="price"><span class="woocommerce-Price-amount amount"><span
                                    class="woocommerce-Price-currencySymbol">&pound;</span>15.00</span></span>
                        <a rel="nofollow" href="/wedding-planners/shop/?add-to-cart=79" data-quantity="1"
                           data-product_id="79" data-product_sku=""
                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a></li>


                    </ul>

                    <nav class="woocommerce-pagination">
                      <ul class='page-numbers'>
                        <li><span class='page-numbers current'>1</span></li>
                        <li><a class='page-numbers'
                               href='/shop/page/2/'>2</a></li>
                        <li><a class="next page-numbers"
                               href="/shop/page/2/">&rarr;</a></li>
                      </ul>
                    </nav>

                  </div>
                </div>
              </div>
            </div>
          </section>
        </div><!-- /boldthemes_content -->

      </div><!-- /contentHolder -->
    </div><!-- /contentWrap -->

    <%- include('partials/_footer') -%>

  </div><!-- /pageWrap -->

<%- include('partials/_foot') -%>